header {
    max-width: 100rem;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    
    nav {
        font-size: 2.5rem;
        font-family: @font;

        a {
            text-decoration: none;
            color: black;
            padding: 0 2rem;
        }
        a:hover {
            color: #FFFFFF;
            background-color: @red;
            border-radius: 10px;
        }
    }

    img {
        width: 10;
        height: 10rem;
    }

}